.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  > div {
    width: 100%;
  }
  .quote {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
